html {
    font-size: 16px;
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

body h1 {
    font-size: 4rem;
}

.butt {
    background-color: #333;
    border: #fff;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: wavy;
    font-size: 24;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    padding: 1vw 25vw;
}

.container p {
    text-align: left;
}

.subpanel {
    background: #111;
    border: 1px solid #333;
    border-radius: 8px;
    margin: 0.5em 0.25em;
    padding: 0em 1em;
}

.main {
    grid-column: 1;
}

.right {
    grid-column: 2;
}