html {
    font-size: 16px;
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    transition: .2s ease-in-out;
}

/* HEADER */
header h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

header a:hover {
    letter-spacing: .1rem;
    transition: .2s ease-in-out;
}

header p {
    margin-top: 0;
}

/* MAIN */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 1vw 25vw;
}

main a:hover {
    text-decoration: underline;
    color: lightgrey;
}

/* PANELS */
.subpanel {
    background: #111;
    border: 1px solid #333;
    border-radius: 4px;
    margin: 0.5rem 0.25rem;
    padding: 0 7%;
}

.subpanel p {
    font-family: Georgia, serif;
    text-align: left;
}

.subpanel ul {
    font-family: Georgia, serif;
    text-align: left; 
    list-style-type: circle;
    padding: 0 5%;
}

.subpanel ul li {
    padding-bottom: 3%;
}

.center {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

/* PHONE SUPPORT */

@media (max-width: 1200px) {
    main {
        margin: 1vw 3vw;
    }
    html {
        font-size: 18px;
    }
}