html {
    font-size: 16px;
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

header nav {
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
    color: lightgrey;
}

.butt {
    background-color: #333;
    border: #fff;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: wavy;
    font-size: 24;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: auto;
    padding: 1vw 25vw;
}

.subpanel {
    background: #111;
    border: 1px solid #333;
    border-radius: 4px;
    margin: 0.5em 0.25em;
    padding: 0em 1.25em;
}

.subpanel p {
    font-family: Georgia, serif;
    text-align: left;
}

.subpanel ul {
    font-family: Georgia, serif;
    text-align: left; 
    list-style-type: circle;
    padding-left: 0.5em;
}

.main {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

@media (max-width: 1000px) {
    .container {
        padding: 1vw 3vw;
    }
    html {
        font-size: 2vw;
    }
}